{% extends "base.html" %}

<!-- seo site verification -->
{% block site_meta %}
{{ super() }}
<meta name="msvalidate.01" content="F094636FC4C455E987BFC3E917310051" />
<meta name="google-site-verification" content="GyLipWmwDQrwFV8W1Iu3wwMheve5T_IoZXmqhUveCIo" />
<script url="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "WebSite",
        "name": "Jake Anto's Website",
        "alternateName" : "It's Jake",
        "url": "https://itsjake.me/",
        "potentialAction": {
            "@type": "SearchAction",
                "target": {
                "@type": "EntryPoint",
                    "urlTemplate": "https://itsjake.me/?q={search_term_string}"
            },
            "query-input": "required name=search_term_string"
        }
    }
</script>
{% endblock %}

<!-- add custom css -->
{% block styles %}
{{ super() }}
<link href="assets/stylesheets/homepage-animations.css" rel="stylesheet" type="text/css">
<style>
    .hero {
        color: var(--md-typeset-color);
        text-align: center;
        padding-top: 50px;
        /*background: linear-gradient(0deg, transparent 90%, var(--md-primary-fg-color) 100%);*/
    }

    .hero h2 {
        color: var(--md-typeset-color);
        font-weight: 700;
        font-size: 38px;
        margin: 0;
    }

    .hero p {
        margin-top: 0px;
    }

    .profile-image {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin: 0 auto;
    }

    /* Hero profile links overrides */
    .hero-profile-links {
        display: block;
        margin: 5px;
        filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));
    }

    .hero-profile-social {
        color: var(--md-typeset-color) !important;
        display: inline-block;
        margin: 0 5px;
    }

    .hero-profile-social:hover {
        color: var(--md-primary-fg-color) !important;
    }

    /* Hero buttons overrides */
    .md-typeset .md-button--primary:hover {
        color: var(--md-primary-fg-color);
        background-color: transparent !important;
        /* overriding .md-button:hover */
        border-color: var(--md-primary-fg-color);
    }

    .md-typeset .md-button:hover {
        background-color: var(--md-primary-fg-color);
        border-color: var(--md-primary-fg-color);
    }

    .hero-button {
        margin: 0px 3px 15px 3px;
    }
</style>
{% endblock %}

<!-- display hero after tabs -->
{% block tabs %}
{{ super() }}
<div class="hero md-typeset">
    <img class="profile-image blur-entrance" src="assets\images\profile-image.png" alt="Jake's profile image"
        width="100" height="100">
    <h2 class="text-focus-in"><span class="jake-animation">Jake</span> Anto</h2>
    <div class="hero-profile-links">
        <a class="hero-profile-social slide-up" href="https://github.com/j-eo">
            <span class="twemoji"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path
                        d="M12 2A10 10 0 0 0 2 12c0 4.42 2.87 8.17 6.84 9.5.5.08.66-.23.66-.5v-1.69c-2.77.6-3.36-1.34-3.36-1.34-.46-1.16-1.11-1.47-1.11-1.47-.91-.62.07-.6.07-.6 1 .07 1.53 1.03 1.53 1.03.87 1.52 2.34 1.07 2.91.83.09-.65.35-1.09.63-1.34-2.22-.25-4.55-1.11-4.55-4.92 0-1.11.38-2 1.03-2.71-.1-.25-.45-1.29.1-2.64 0 0 .84-.27 2.75 1.02.79-.22 1.65-.33 2.5-.33.85 0 1.71.11 2.5.33 1.91-1.29 2.75-1.02 2.75-1.02.55 1.35.2 2.39.1 2.64.65.71 1.03 1.6 1.03 2.71 0 3.82-2.34 4.66-4.57 4.91.36.31.69.92.69 1.85V21c0 .27.16.59.67.5C19.14 20.16 22 16.42 22 12A10 10 0 0 0 12 2Z">
                    </path>
                </svg></span>
        </a>
        <a class="hero-profile-social slide-up" href="https://fosstodon.org/@jake_a">
            <span class="twemoji"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path
                        d="M20.94 14c-.28 1.41-2.44 2.96-4.97 3.26-1.31.15-2.6.3-3.97.24-2.25-.11-4-.54-4-.54v.62c.32 2.22 2.22 2.35 4.03 2.42 1.82.05 3.44-.46 3.44-.46l.08 1.65s-1.28.68-3.55.81c-1.25.07-2.81-.03-4.62-.5-3.92-1.05-4.6-5.24-4.7-9.5l-.01-3.43c0-4.34 2.83-5.61 2.83-5.61C6.95 2.3 9.41 2 11.97 2h.06c2.56 0 5.02.3 6.47.96 0 0 2.83 1.27 2.83 5.61 0 0 .04 3.21-.39 5.43M18 8.91c0-1.08-.3-1.91-.85-2.56-.56-.63-1.3-.96-2.23-.96-1.06 0-1.87.41-2.42 1.23l-.5.88-.5-.88c-.56-.82-1.36-1.23-2.43-1.23-.92 0-1.66.33-2.23.96C6.29 7 6 7.83 6 8.91v5.26h2.1V9.06c0-1.06.45-1.62 1.36-1.62 1 0 1.5.65 1.5 1.93v2.79h2.07V9.37c0-1.28.5-1.93 1.51-1.93.9 0 1.35.56 1.35 1.62v5.11H18V8.91Z">
                    </path>
                </svg></span>
        </a>
    </div>
    <p>This webpage is a work in progress</p>
    <a class="hero-button md-button" href="#about-me">About Me</a>
    <a class="hero-button md-button md-button--primary" href="blog/">Visit my blog <span class="twemoji"><svg
                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path d="M4 11v2h12l-5.5 5.5 1.42 1.42L19.84 12l-7.92-7.92L10.5 5.5 16 11H4Z"></path>
            </svg></span></a>
</div>

{% endblock %}

{% block scripts %}
{{ super() }}
<script>
    // blur profile image on page load
    window.onload = function () {
        document.querySelector('.profile-image').classList.add('blur-entrance');
    }
</script>
{% endblock %}